html {
    background: url('images/background.jpg');
    background-size: cover;
    font-family: tahoma;
}

body {
    background-color: #d7d7d7;
    border-radius: 1em;
    box-shadow: 0 0 2em #333333;
    margin: auto;
    margin-top: 10%;
    min-height: 100%;
    width: 30%;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}

input {
    border: 1px solid #999999;
    border-radius: 0.25em;
    display: block;
    padding: 0.8em;
    margin: auto;
}

input[type="text"] {
    margin-bottom: 2em;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}
