@charset "UTF-8";

/*Screen styles*/
body {
   margin: 0;
   padding: 0;
   font-family: tahoma;
}

h1 {
   font-family: tahoma;
   font-weight: bold;
   font-size: 20px;
   
}

h2 {
   font-family: tahoma;
   font-weight: bold;
   font-size: 18px;
   line-height: 0em;
}

p {
   font-family: tahoma;
   font-size: 18px;
   text-indent: 5%;
}

label {
   font-family: tahoma;
   font-size: 16px;
}

button {
   font-family: tahoma;
   font-size:16px;
}

li {
   list-style-type: none;
}

a {
   font-family: tahoma;
   color: #000000;
   text-decoration: none;
   list-style-type: none;
}

#qImg {
   height:150px;
   width:200px;
   top: 50%;
   left: 50%;
   margin: -175px 0 0 375px;
}

/*     GAME SETTINGS         */

/*BUTTONS OVER CANVAS*/
.canvas_btn {
   z-index: 2;
   font-family: tahoma;
   font-size: 20px;
   background-color: #bebebe;
   border:2.5px solid #3c3c3c;
   border-radius:2.5px;
}

#menuBtn {
   position: absolute;
   left: 0;
   bottom: 0;
}

#menu {
   display: none;
   z-index:2;
   text-align: left;   
   line-height: 2em;
   font-weight: bold;
   width:7.5%;
   padding:10px 7.5px;
   position:absolute;
   bottom:20px;
   left:0px;
   border:5px solid #3c3c3c;
   border-radius: 10px;
   
   /*transition:opacity linear 0.15s;*/
   box-shadow:0px 2px 3px rgba(0,0,0,0.2);
   background:#bebebe;

}

#menu:hover,
#menuBtn:focus + #menu {
   display: block;
}

#soundBtn {
   position: absolute;
   right: 0;
   bottom: 0;
}











/*STYLES FOR CSS POPUP*/

#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#miniGameDiv {
	position:absolute;
   background:#bebebe;
   width:600px;
   height:450px;
   border:7.5px solid #3c3c3c;
   border-radius:5px;
   z-index: 9001;
   top: 50%;
   left: 50%;
   margin: -50px 0 0 -150px;
}

#miniGameDiv a {position:relative;}

#troveInfoDiv {
   position:absolute;
   overflow: scroll;
   background:#bebebe;
   width:600px;
   height:450px;
   border:7.5px solid #3c3c3c;
   border-radius:5px;
   z-index: 9001;
   top: 50%;
   left: 50%;
   margin: -50px 0 0 -150px;
}

#troveInfoDiv a {position:relative; top:200px;}

#instructionsDiv {
   position:absolute;
   background:#bebebe;
   width:1000px;
   height:750px;
   border:7.5px solid #3c3c3c;
   border-radius:5px;
   z-index: 9002;
   margin: -200px 0 0 -350px;
}

#instructionsDiv a {position:relative; top:200px;}

#confirmDiv {
   position:absolute;
   background:#bebebe;
   width:240px;
   height:120px;
   border:7.5px solid #3c3c3c;
   border-radius:5px;
   z-index: 9001;
   top: 50%;
   left: 50%;
   margin: 75px 0 0 25px;
}

#confirmDiv a {position:relative; top:200px; left:50px;}

#alertDiv {
   position:absolute;
   background:#e0e0e0;
   width:240px;
   height:120px;
   border:7.5px solid #707070;
   border-radius:5px;
   z-index: 9001;
   top: 50%;
   left: 50%;
   margin: 100px 0 0 25px;
}

#alertDiv a {position:relative; top:200px;}


#initGameDiv {
   position:absolute;
   background:#bebebe;
   width:500px;
   height:500px;
   border:7.5px solid #3c3c3c;
   border-radius:5px;
   z-index: 9001;
   top: 50%;
   left: 50%;
   margin: -50px 0 0 -100px;
}

#initGameDiv a {position:relative; top:-10px; font-size: 40px;}

#leaderBoardDiv {
   position:absolute;
   background:#bebebe;
   width:600px;
   height:475px;
   border:7.5px solid #3c3c3c;
   border-radius:5px;
   z-index: 9001;
   top: 50%;
   left: 50%;
   margin: -50px 0 0 -150px;
}

#leaderBoardDiv a {position:relative; top:150px;}

#outcomeDiv {
   position:absolute;
   background:#bebebe;
   width:240px;
   height:180px;
   border:7.5px solid #3c3c3c;
   border-radius:5px;
   z-index: 9001;
   top: 50%;
   left: 50%;
   margin: 75px 0 0 25px;
}

#outcomeDiv a {position:relative; top:25px;}

#submit_but {
   top: 50%;
   left: 50%;
   margin: 50px 0 0 0px;
}

#alertOk {
   top: 50%;
   left: 50%;
   margin: 0px 0 0 100px;
}

#leadtitle {
   word-spacing: 300px;
}

#board {
   word-spacing: 330px;
}

#finalScore {
   text-decoration: bold;
}

#yes {
   top: 50%;
   left: 50%;
   margin: 0px 0 0 60px;
}

#info{

   margin-right: 10px;
}

#arrows {
   margin: 0px 0 0 15px;
   float: left;

}

#control {
   margin: 0 0 0 -75px;
   float: left;
   margin-top: 50px;
}

#intnode {
   margin: 0 0 0 40px;
   float: left;
   margin-top: -10px;
}

#instruct {
   text-indent: 170px;
   line-height: 95%;
}
